snippet docs "docs"
/*
File:     ${4:`!p snip.rv = snip.fn`}
Author:   Samuel Barrett
Created:  ${2:`date +%Y-%m-%d`}
Modified: ${3:`date +%Y-%m-%d`}
Description: $1
*/
endsnippet

# vim:ft=snippets:
